body {
  background: #191A1B;
}

.container {
  max-width: 80%;
  display    : flex;
  flex-flow  : column wrap;
  align-items: center;

  .title {
    color      : #ccc;
    font-weight: 300;
    font-size  : 26px;
  }

  .video {
    display  : flex;
    flex-flow: column wrap;

    background   : #212324;
    border       : 20px solid #212324;
    border-radius: 8px;

    .play {
      border: 0;
    }

    .search {
      margin-top: 10px;
      align-self: center;

      input {
        color     : #ccc;
        font-size : 16px;
        background: #191A1B;

        width        : 480px;
        padding      : 10px;
        border       : 0px;
        border-radius: 6px;
        outline-style: none;
      }

      button {
        color           : #aaa;
        font-size       : 16px;
        background-color: rgb(22, 22, 30);

        margin-left: 5px;
        padding      : 9px 16px;
        // outline-style: none;
        border       : 0px;
        border-radius: 6px;

      }
    }
  }
}